.my-navbar {
  background-color: #fdfdfd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-decoration: none;
  font-size: 20px;
}

.navbar-brand {
  font-size: 3.5rem;
  font-weight: normal;
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  font-size: 2rem;
  color: #333;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .my-navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .navbar-brand {
    margin-bottom: 1rem;
  }

  .nav-links {
    margin-top: 1rem;
  }

  .nav-item {
    margin: 0;
    margin-bottom: 1rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }
}

.my-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
